@import '@/styles/config/_colors.scss';

.Selector {

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    overflow: hidden;
    height: 2em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.Selector>button {
    position: static;
    font-size: inherit;
    font-family: inherit;
    font-variant: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 2em;
    border-radius: 0;
}

.selected {
    background: map-get($basePalette, "navy-2");
    color: #fff;
}

.unselected {
    background: map-get($basePalette, "navy-1");
    color: #ccc;

    &:hover {
        background: map-get($basePalette, "navy-2");
        color: #fff;
    }
}