@import '@/styles/config/_colors';
@import '@/styles/config/_queries';


.data_page {
  @apply w-full flex flex-row gap-4;
  background-color: map-get($basePalette, "grey");
}

.dataContainer {
  @apply w-full;
  padding: 4rem 1rem;
  max-width: $max-page-width;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  gap: 1rem;

  @media (max-width: $breakpoint-md) {
    padding: 4rem 1rem;
  }

  /* Ensure all content respects container width */
  * {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
    /* Break long words */
    overflow-wrap: break-word;
    /* Ensure content wraps correctly */
  }
}

.sidebar {
  @apply hidden;

  @screen lg {
    @apply block flex-none w-1/5;

  }

  &__sticky {
    @apply sticky top-0;
    top: 8rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.content {
  @apply w-full;

  @screen md {
    @apply flex-grow;
    margin-left: 2rem;
  }

  /* Ensure content within flexbox container adapts correctly */
  display: flex;
  flex-direction: column;

}






/*
.data {
  width: 100%;
  background-color: map-get($basePalette, "grey");
}

.navItemsContainer {

  min-width: 200px;

  @media (max-width: $breakpoint-xl) {
    display: none;
  }
}



.center {
  background-color: map-get($basePalette, "grey");
  margin: 0 auto;
  width: 100%;
  max-width: 1270px;
}



.scrollTo {
  left: 0;
  width: 100%;
  bottom: 0;
  padding-top: 4rem;
  background-color: map-get($basePalette, "grey");
}

.scrollTop {

  position: sticky;
  float: right;
  margin-bottom: 4rem;
  color: map-get($basePalette, "navy-1");
  top: 85vh;
  right: calc((85vw - $full-hd) / 4);
  display: none;

  @media (max-width: $breakpoint-xl) {
    display: none;
  }
}*/