$basePalette: (
  "white": #f7f8fc,
  "grey": #e5e9f4,
  "grey-1": #f8f9fd,
  "grey-2": #b1b2b2,
  "grey-3": #afafaf,
  "navy-1": #3b4165,
  "navy-2": #303354,
  "blue": #050A30,
  "yellow-1": #ffc500,
  "yellow-2": #ff7a1b,
);

$theme: (
  "experimental-data": #EFAE97,
  "reconstruction-data": #EA9088,
  "digital-reconstruction": #CC8A99,
  "validations": #9E98AE,
  "predictions": #8398B5,
);

$brand: (
  "bbp": #5CC4EE,
  "epfl": #FF0000
);