$basePalette: (
  "white": #f7f8fc,
  "grey": #e5e9f4,
  "grey-1": #f8f9fd,
  "grey-2": #b1b2b2,
  "navy-0": #52617d,
  "navy-1": #3b4165,
  "navy-2": #303354,
  "navy-3": #16153d,
  "navy-4": #050a30,
  "yellow-1": #ffc500,
  "yellow-2": #ff7a1b,
  "bbp-blue": #5CC4EE,
  "epfl-red": #FF0000
);

$accentPalette: (
  "yellow": #ffc500,
  "blue": #84bbf8,
  "lavender": #657be1,
  "green": #33b080,
  "grey": #b2b3b3,
  "orange": #ed8048,
);

//Theme 1
/*
$theme: (
  "experimental-data": #72C3BB,
  "reconstruction-data": #DBDAB6,
  "digital-reconstruction": #E9BB8A,
  "validations": #C97697,
  "predictions": #7160A0,
)
*/

//Theme 2
/*
$theme: (
  "experimental-data": #54aece,
  "reconstruction-data": #d85c8b,
  "digital-reconstruction": #de805f,
  "validations": #e3c161,
  "predictions": #c0d25d,
  )
  */

//Theme 3

$theme: (
  "experimental-data": #EFAE97,

  "reconstruction-data": #EA9088,
  "digital-reconstruction": #CC8A99,
  "validations": #9E98AE,
  "predictions": #8398B5,
  )