$small: 992px;
$large: 1800px;

$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;
$breakpoint-2xl: 1536px;

$full-hd: 1400px;

$max-page-width: 1600px;


/*

Tailwind sizes

xs 480px
sm	640px	
md	768px	
lg	1200px	
xl	1400px	
2xl	1536px	

*/