@import "@/styles/config/_colors";

.button,
.link-button {
    // Apply styles to both <button> and <a> elements
    background-color: #E5E9F4;
    color: map-get($basePalette, "navy-2");
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3px;
    padding-right: 0.5rem;
    text-decoration: none !important;
    transition: 100ms ease-in-out all;

    &:hover {
        background-color: map-get($basePalette, "navy-1");
        color: white !important;

        .icon {
            // color: map-get($basePalette, "navy-2");
        }
    }

    $theme-length: length($theme);

    .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map-get($basePalette, "navy-3");
        width: 2rem;
        height: 2rem;
        transition: 100ms ease-in-out all;

        @for $i from 1 through $theme-length {
            $key: nth(map-keys($theme), $i);
            $color: map-get($theme, $key);

            &.theme-#{$i} {
                background-color: $color;
            }
        }
    }

    .icon {
        width: 1rem;
        height: 1rem;
        color: white;
        transition: 100ms ease-in-out all;
    }
}