.selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 0 auto;
}

.selectorColumn {

  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.selectorHead {
  text-align: center;
  background-color: white;
  color: black;
}

.selectorBody {

  margin: auto 0;
  background-color: #050A30;
}