
.selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.selectorColumn {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.selectorHead {
  text-align: center;
  background-color: white;
  color: black;
}

.selectorBody {
  padding: 1.4rem;
  margin: auto 0;
}
