.selector {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #313254;
}

.selectorColumn {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #313254;
}

.selectorHead {
  text-align: left;

  background-color: #313354;
  color: #16153d;
  padding: .5rem 1rem;
}

.selectorBody {
  margin: auto;
  width: 100%;
  min-width: 340px;

}