.selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  margin: 0 auto;
}

.selectorColumn {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgba(#EFAE97, .8);
}

.selectorHead {

  background-color: rgba(#EFAE97, .6);
  ;
  color: white;
  padding: .5rem 2rem;
  border-bottom: 1px solid rgba(#EFAE97, .8);


}

.selectorBody {

  margin: auto 0;
  background-color: #313354;

}