@import '../../styles/config/colors';

body.no-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

.container {
  text-align: left;
  border: 1px solid transparent;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
  padding-top: 2rem;
}

.head {
  position: relative;
  padding: 0 1.2rem;
}

.icon {
  cursor: pointer;
  opacity: .7;
  transition: all 100ms ease-in-out;
  width: 18px;
  height: 18px;

  &:hover {
    opacity: 1;
  }
}

.idx {
  color: #f7f8fc;
  padding: 1rem 0 1.2rem;
}

.body {
  padding: 1.2rem 1.2rem 4rem 0;
  height: 32rem;
  position: relative;
  overflow: hidden;

  >a,
  >p {
    color: #efefef;
    display: block;
    padding-left: 1.2rem;
    //font-size: 0.9rem;
    line-height: 2.8rem;
    margin-bottom: 0;
    white-space: nowrap;
    position: relative;
    //transition: 1000ms all ease-in-out;
    /* Required for positioning the pseudo-element */
  }

  >a:after,
  >p:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    /* Border height */
    background: linear-gradient(-90deg, rgba(white, 0) 00%, white 100%);
  }

  >p {
    color: rgba(255, 255, 255, 50%);
    cursor: default;
    user-select: none;
  }

  >a:hover {
    color: white;
    background: linear-gradient(-90deg, rgba(white, 0) 0%, rgba(white, .4));
  }
}

.infoBtn {
  position: absolute;
  z-index: 8;
  user-select: none;
  bottom: 0.4rem;
  right: 0.6rem;
  width: 1.8rem;
  text-align: center;
  cursor: pointer;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  padding: 1.2rem;
  border-top: 1px solid white;
  background-color: #161419;
  transition: top 0.3s ease 0s;
  overflow-y: scroll;
}

.infoBottomGradient {
  position: absolute;
  margin-top: 10px;
  bottom: -4rem;
  width: 100%;
  height: 4rem;
  z-index: 5;
  transition: top 0.3s ease 0s;
}

:global(.show) {
  .info {
    top: 0;
  }

  .infoBottomGradient {
    bottom: 0;
  }

  &.container {
    background-color: #161419 !important;
    border: 1px solid white;
  }
}

@keyframes popupShow {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &.show {
    visibility: visible;
    opacity: 1;

    .popup__window {
      animation: popupShow 0.3s ease forwards;
    }
  }

  &__window {
    max-width: 40rem;
    background-color: #313254;

    &--1 {
      border: map-get($theme, "experimental-data") 1px solid;
    }

    &--2 {
      border: map-get($theme, "reconstruction-data") 1px solid;
    }

    &--3 {
      border: map-get($theme, "digital-reconstruction") 1px solid;
    }

    &--4 {
      border: map-get($theme, "validations") 1px solid;
    }

    &--5 {
      border: map-get($theme, "predictions") 1px solid;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: grey;

    h3 {
      margin: 0;
    }

    &--1 {
      background-color: rgba(map-get($theme, "experimental-data"), .6);
      border-bottom: map-get($theme, "experimental-data") 1px solid;
    }

    &--2 {
      background-color: rgba(map-get($theme, "reconstruction-data"), .6);
      border-bottom: map-get($theme, "reconstruction-data") 1px solid;
    }

    &--3 {
      background-color: rgba(map-get($theme, "digital-reconstruction"), .6);
      border-bottom: map-get($theme, "digital-reconstruction") 1px solid;
    }

    &--4 {
      background-color: rgba(map-get($theme, "validations"), .6);
      border-bottom: map-get($theme, "validations") 1px solid;
    }

    &--5 {
      background-color: rgba(map-get($theme, "predictions"), .6);
      border-bottom: map-get($theme, "predictions") 1px solid;
    }
  }

  &__content {
    text-align: left;
    padding: 1rem 2rem;

  }

  &__close {
    cursor: pointer;
  }
}