@use 'sass:math';

@import '@/styles/config/_colors';
@import '@/styles/config/_fonts';

$size: 4rem;

.scrollTtop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map-get($basePalette, "navy-1");

  color: map-get($basePalette, "white");

  width: $size;
  height: $size;
  font-size: math.div(2, 3) * $size;

  cursor: pointer;


  &:hover {
    background-color: map-get($basePalette, "navy-2");
  }
}