@import '@/styles/config/_queries';
@import '@/styles/config/_colors';

.container {
  position: sticky;
  float: left;
  width: 100%;

  color: map-get($basePalette, "navy-2");
  border: 1px solid rgba(white, .05);
  border-left: none;
  top: 8rem;

  z-index: 1;

}

.title {
  color: map-get($basePalette, "navy-2");
}

.line {
  margin-bottom: .5rem;
  width: 100%;
  height: 1px;
  background-color: lightgrey
}

.sectionTitle {
  @apply text-sm mb-1 mt-4 pb-1;
  color: map-get($basePalette, "navy-2");

}

.sectionItem {
  cursor: pointer;

  &:hover {
    .label {
      color: black;
    }

  }
}

.circle {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 1rem;
  display: inline-block;
  vertical-align: middle;

}

.label {
  @apply text-sm;

  color: map-get($basePalette, "grey-3");
  user-select: none;
  vertical-align: middle;

}


.sectionItemCurrent {
  .label {
    color: map-get($basePalette, "navy-1");
  }

  .circle {
    color: white;


  }

  &.theme-1 {

    .circle {
      background-color: map-get($theme, "experimental-data");
      background-color: map-get($basePalette, "blue");
    }
  }

  &.theme-2 {


    .circle {
      background-color: map-get($theme, "reconstruction-data");
    }
  }

  &.theme-3 {


    .circle {
      background-color: map-get($theme, "digital-reconstruction");
    }
  }

  &.theme-4 {

    .circle {
      background-color: map-get($theme, "validations");
    }
  }

  &.theme-5 {

    .circle {
      background-color: map-get($theme, "predictions");
    }
  }

  &.theme-6 {

    .circle {
      background-color: map-get($theme, "predictions");
      background-color: map-get($basePalette, "blue");
    }
  }
}