@import '@/styles/config/_queries';
@import '@/styles/config/_colors';

.container {
  position: sticky;
  float: left;

  padding-left: 2rem;

  color: map-get($basePalette, "navy-2");
  border: 1px solid rgba(white, .05);
  border-left: none;
  top: 8rem;

  z-index: 1;

}

.line {
  margin: .5rem 0;
  width: 250px;
  height: 1px;
  background-color: lightgrey
}

.sectionItem {
  cursor: pointer;

  &:hover {
    .label {
      color: black;
    }

  }
}

.circle {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 1rem;
  display: inline-block;
  vertical-align: middle;

}

.label {
  font-size: .870rem;
  margin-left: 0.6rem;
  color: map-get($basePalette, "grey-3");
  user-select: none;
  vertical-align: middle;

}


.sectionItemCurrent {
  .label {
    color: black;
  }

  .circle {
    color: white;


  }

  &.theme-1 {

    .circle {
      background-color: map-get($theme, "experimental-data");
      background-color: map-get($basePalette, "blue");
    }
  }

  &.theme-2 {


    .circle {
      background-color: map-get($theme, "reconstruction-data");
    }
  }

  &.theme-3 {


    .circle {
      background-color: map-get($theme, "digital-reconstruction");
    }
  }

  &.theme-4 {

    .circle {
      background-color: map-get($theme, "validations");
    }
  }

  &.theme-5 {

    .circle {
      background-color: map-get($theme, "predictions");
    }
  }

  &.theme-6 {

    .circle {
      background-color: map-get($theme, "predictions");
      background-color: map-get($basePalette, "blue");
    }
  }
}