@import 'antd/lib/style/index.css';
@import 'flexboxgrid';


@import 'antd/lib/button/style/index.css';
@import 'antd/lib/select/style/index.css';
@import 'antd/lib/radio/style/index.css';
@import 'antd/lib/checkbox/style/index.css';
@import 'antd/lib/table/style/index.css';
@import 'antd/lib/grid/style/index.css';
@import 'antd/lib/collapse/style/index.css';
@import 'antd/lib/popover/style/index.css';
@import 'antd/lib/tabs/style/index.css';


@import 'config/_colors';
@import 'config/_fonts';
@import 'config/_queries';


html, body {
  @include font-default;
  color: map-get($basePalette, "white");
  background-color: #17151A;
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
}

button {
  @include font-default;
}

input {
  @include font-default;
}

button,
a {
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: map-get($fontSize, "large");
  font-weight: 600;
}

p {
  font-weight: 300;
}

a {
  color: map-get($basePalette, "white");
  font-weight: 400;
}

section {
  padding: 40px 0;
}


// common, utils

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mr-3 {
  margin-right: 2rem;
}

.ml-3 {
  margin-left: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 4rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-nowrap {
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-grey {
  color: rgba(247, 248, 252, 0.5);
}

.w-100 {
  width: 100%;
}

.block {
  display: block;
}

.spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


.ant-table-thead > tr > th {
  font-weight: bold;
}













// Button
.button__basis {
  $height: 40px;
  $heightSmall: 30px;
  $borderWidth: 2px;

  font-weight: 700;
  background-color: map-get($basePalette, "navy-4");
  height: $height;
  line-height: $height;
  border: $borderWidth solid map-get($basePalette, "white");
  padding: 0 15px;
  transition: all 0.2s;
  position: relative;

  @media (max-width: $small) {
    border-width: 1px;
    height: $heightSmall;
    line-height: $heightSmall;
  }

  &:hover {
    box-shadow: none;
    background-color: map-get($basePalette, "navy-3");
  }

  &.large {
    font-size: 1.5rem;
    @media (max-width: $small) {
      border-width: $borderWidth;
      height: $height;
      line-height: $height;
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }

  .active &,
  &:active,
  &.active {
    background-color: map-get($basePalette, "white");
    color: map-get($basePalette, "navy-4");
  }

  &.discrete {
    border: none;
    box-shadow: none;
    opacity: 0.7;

    .active &,
    &:active,
    &:hover,
    &.active {
      opacity: 1;
      color: map-get($basePalette, "white");
      background-color: map-get($basePalette, "navy-4");
    }
  }

  &.primary {
    border: none;
    line-height: $height + (2 * $borderWidth);
    background: map-get($basePalette, "yellow-2");
    background: linear-gradient(
      90deg,
      map-get($basePalette, "yellow-1"),
      map-get($basePalette, "yellow-2")
    );

    .active &,
    &:active,
    &:hover,
    &.active {
      color: map-get($basePalette, "white");
    }
  }
}

.button__basis .notifications {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: map-get($fontSize, "small");
  height: 1rem;
  border-radius: 1rem;
  line-height: 1.2rem;
  padding: 0 0.3rem;
  background-color: map-get($basePalette, "white");
  color: map-get($basePalette, "navy-4");
}













// Collapsible
$collapsible-padding: 20px 30px;

@mixin collapsible__basis {
  border-radius: 3px;
  overflow: hidden;
  .header {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #343846;
    font-size: map-get($fontSize, "large");
    font-weight: 400;
    padding: 20px 60px 20px 30px;
    &:hover {
      cursor: pointer;
      background-color: #545A70;
    }
  }
  .arrow {
    position: absolute;
    top: calc(50% - 17px);
    right: 30px;
    transition: transform 0.5s;
  }
  .content {
    background-color: map-get($basePalette, "white");
    color: map-get($basePalette, "navy-4");
    padding: $collapsible-padding;
    overflow: hidden;
  }

  &.red {
    .header {
      background-color: red;
      color: white;
    }
  }
}

.collapsible__expanded {
  @include collapsible__basis;
  .content {
    max-height: 20000px;
    transition: max-height 1s, padding 0.3s;
  }
}

.collapsible__collapsed {
  @include collapsible__basis;
  .arrow {
    transform: rotate(180deg);
  }
  .content {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: max-height 0.3s, padding 0.3s 0.2s;
  }
}

.dark-collapsible .header {
    background-color: #83b9f6;
}

.dark-collapsible .content {
  background-color: #34385a;
  color: white;
}













// DataContainer
.data-container__basis {
  background-color: map-get($basePalette, "grey");
  min-height: 100vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  .center {
    background-color: map-get($basePalette, "grey");
    margin: 4rem auto 60px;
    max-width: 1080px;
    margin-bottom: calc(100px + 4rem);
  }

  .scroll-to {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
  }
}















// Factsheet
.factsheet__basis {
  font-size: 1rem;

  .row {
    border-bottom: 1px solid #eaeaea;
  }

  .pos-relative {
    position: relative;
  }

  .bar {
    height: 100%;
    background-color: rgba(130, 130, 130, 0.23);
    position: absolute;
    top: 0;
    left: 0;
  }

  .name {
    text-align: right;

    &.na {
      color: red;
    }
  }
}















// ImageViewer
.image-viewer__basis {
  $maxWidth: 600px;

  max-width: $maxWidth;
  position: relative;

  img {
    width: 100%;
    cursor: pointer;
  }
}











// LayerAnatomySummary
// used only to style table in the exp morph population
.layer-anatomy-summary__basis {
  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 0.5rem;
    padding-left: 1rem;
  }
}














// List
.list__basis {
  $height: 120px;
  $width: 250px;
  $padding: 10px 10px 10px 20px;

  padding: $padding;
  background-color: map-get($basePalette, "navy-1");

  p {
    font-weight: 500;
    margin: 0 0 0 5px;
    color: map-get($basePalette, "white");
  }

  .elements {
    margin: 8px 0;
    height: $height;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar-track {
    width: 10px;
    background-color: #f1f1f1;;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #51576f;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #61677f;
  }
}

.list-element__basis {
  background-color: map-get($basePalette, "white");
  color: map-get($basePalette, "navy-1");
  margin: 8px 20px 8px 10px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 6px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: map-get($basePalette, "white");
    background-color: #999ba2;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.selected {
    color: map-get($basePalette, "white");
    background-color: #17151a !important;
    cursor: initial;
    outline-style: none;

    .yellow & {
      background-color: map-get($accentPalette, "yellow");
    }
    .blue & {
      background-color: map-get($accentPalette, "blue");
    }
    .lavender & {
      background-color: map-get($accentPalette, "lavender");
    }
    .green & {
      background-color: map-get($accentPalette, "green");
    }
    .grey & {
      background-color: map-get($accentPalette, "grey");
    }
    .orange & {
      background-color: map-get($accentPalette, "orange");
    }
  }
}











// NexusImage
.nexus-image__basis {
  .nexus-image-container {
    height: 100%;
    width: 100%;
    background-color: white;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  .nexus-image-container img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }

  .nexus-image {
    display: inline-block;
  }
}













// ScrollTo
.scroll-to__basis {
  display: block;
  font-weight: 400;
  font-size: map-get($fontSize, "large");
  background-color: #343846;
  color: map-get($basePalette, "white");
  text-decoration: none;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: #545A70;
  }

  &.yellow {
    background-color: map-get($accentPalette, "yellow");
  }
  &.blue {
    background-color: map-get($accentPalette, "blue");
  }
  &.lavender {
    background-color: map-get($accentPalette, "lavender");
  }
  &.green {
    background-color: map-get($accentPalette, "green");
  }
  &.grey {
    background-color: map-get($accentPalette, "grey");
  }
}

.scroll-to__direction {
  display: block;
  font-size: 2rem;
  height: 1.5rem;
  margin-top: -0.25rem;
}











// ScrollTop
.scroll-top__base {
  $size: 6rem;

  display: inline-block;
  background-color: map-get($basePalette, "navy-2");
  color: map-get($basePalette, "white");
  text-decoration: none;
  text-align: center;
  border-radius: $size;
  width: $size;
  height: $size;
  font-size: (2 / 3) * $size;
  & svg {
    padding-top: 0.75rem;
  }
  &:hover {
    background-color: map-get($basePalette, "navy-1");
  }
}













// Title
.title__basis {
  display: inline-block;
  margin-bottom: 60px;
  max-width: 100%;
  overflow: hidden;


  &.yellow {
    & h2 {
      border-color: map-get($accentPalette, "yellow");
    }

    & h4 {
      color: map-get($accentPalette, "yellow");
    }
  }

  &.blue {
    & h2 {
      border-color: map-get($accentPalette, "blue");
    }

    & h4 {
      color: map-get($accentPalette, "blue");
    }
  }

  &.lavender {
    & h2 {
      border-color: map-get($accentPalette, "lavender");
    }

    & h4 {
      color: map-get($accentPalette, "lavender");
    }
  }

  &.green {
    & h2 {
      border-color: map-get($accentPalette, "green");
    }

    & h4 {
      color: map-get($accentPalette, "green");
    }
  }

  &.grey {
    & h2 {
      border-color: map-get($accentPalette, "grey");
    }

    & h4 {
      color: map-get($accentPalette, "grey");
    }
  }

  h2 {
    text-transform: uppercase;
    line-height: 1;
    margin: 10px 0;
    padding-left: 12px;
    border-left: 4px solid;
  }

  h4 {
    font-size: 1.5rem;
    margin: 0;
  }

  &.primary {
    margin-bottom: 20px;

    h2 {
      text-transform: none;
      border-left: none;
      padding-left: 0;
      margin-left: 0;
    }

    h2,
    h4 {
      @media (max-width: $small) {
        text-align: center;
      }
    }

    p {
      border-left: 4px solid map-get($accentPalette, "yellow");
      margin: 1rem 1rem 1rem 0;
      padding-left: 12px;
      @media (max-width: $small) {
        margin-left: 1rem;
      }
    }
  }
}

















// layout / Brand
.brand__basis {
  a {
    text-align: center;
    display: block;
    font-size: 1.2rem;
  }
  a, a:active {
    color: white;
  }

  .divider {
    display: inline-block;
    height: 20px;
    width: 2px;
    background: rgba(247, 248, 252, 0.5);
    vertical-align: middle;
    margin: 0 0.5rem;
  }

  @media (max-width: $small) {
    .second-divider {
      display: none;
    }
  }

  span {
    vertical-align: middle;
    white-space: nowrap;
  }

  .hub-explore {
    font-weight: bold;
    vertical-align: middle;

    @media (max-width: $small) {
      display: block;
    }
  }


  .logo {
    display: inline-block;
    width: 60px;
  }
}







// layout / Filters
.filters__basis {
  padding: 100px 60px 80px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #17151A;

  @media (max-width: $small) {
    padding: 100px 20px;
  }
}

.scroll-to {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}









// layout / Footer
.footer {
  &__basis {
    padding: 30px 120px 30px 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 100vh;

    p {
      opacity: 0.6;
    }

    a {
      text-decoration: none;
      font-weight: 300;
    }
  }

  &__address {
    p {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__social-media-item {
    display: flex;
    justify-content: flex-start;
    line-height: 35px;
    align-items: center;
  }

  &__social-media-icon {
    height: 27px;
    width: 27px;
    border-radius: 30px;
    background-color: map-get($basePalette, "navy-0");
    color: map-get($basePalette, "navy-4");
    text-align: center;
  }

  &__social-link {
    margin-left: 5px;
    opacity: 0.6;
  }

  &__bottom-line {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      opacity: 1;
    }
  }
}












// layout / FullPage
.full-page__basis {
  padding: 160px 60px;
  min-height: 100vh;
  background-color: #17151A;
  @media (max-width: $small) {
    padding: 90px 30px 60px;
  }
}












// layout / Navigation
.nav__basis {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 60px;
  right: 60px;
  z-index: 10;
  @media (max-width: $small) {
    justify-content: center;
    top: 5px;
  }

  .home-nav,
  .secondary-nav {
    &,
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    a,
    button {
      background: none;
      outline: none;
      border: none;
      display: inline-block;
      color: map-get($basePalette, "navy-1");
      font-size: map-get($fontSize, "medium");
      font-weight: 700;
      text-decoration: none;
    }
  }

  .secondary-nav {
    .inactive {
      color: rgba(255, 255, 255, 0.5);
      white-space: initial;
      line-height: initial;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
    }

    li > ul > li svg {
      width: 25px;
      flex: 0 0 auto;
      margin-right: 7px;
      @media (min-width: $large) {
        width: 30px;
      }
    }

    li > ul > li a, li > ul > li span {
      display: flex;
      align-items: center;
      white-space: initial;
      line-height: initial;
      color: white;
    }
  }

  .show-mobile {
    display: none;

    @media (max-width: $small) {
      display: inline;
    }
  }
}











// layout / NavMobile
.nav-mobile__basis {
  display: none;
  position: fixed;
  top: 7px;
  right: 7px;
  font-size: 1.5rem;
  height: calc(2px + 1.5rem);
  padding: 0 0.5rem;
  cursor: pointer;
  z-index: 1;
  background: map-get($basePalette, "navy-4");
  border-radius: 1.5rem;
  border: 1px solid map-get($basePalette, "navy-2");
  box-shadow: 0 0 4px 0 rgba(59, 65, 101, 0.6);
  @media (max-width: $small) {
    display: flex;
  }
}

.nav-mobile__menu {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 2;
  margin: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-color: map-get($basePalette, "navy-4");

  &.open {
    right: 0;
  }

  .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: map-get($basePalette, "white");
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  a,
  button {
    white-space: nowrap;
    line-height: 45px;
    text-align: left;
    text-decoration: none;
  }

  .top-links {
    height: 120px;
    display: flex;
    padding: 10px 40px;
    box-sizing: border-box;

    a {
      flex-grow: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      line-height: 30px;
    }

    img {
      width: 45px;
    }
  }

  .menu-search {
    height: 120px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 40px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .secondary-nav {
    position: absolute;
    top: 120px;
    bottom: 120px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    a,
    button,
    span {
      text-transform: uppercase;
    }

    button {
      width: calc(100% - 20px);
      font-size: map-get($fontSize, "large");
      box-shadow: 0 6px 10px -10px rgba(59, 65, 101, 0.6);
      height: 75px;
      padding-left: 40px;
    }

    button svg {
      float: right;
      margin-right: 30px;
      font-size: 25px;
      line-height: 75px;
      margin-top: 8px;
      transition: all 0.7s;
    }

    li {
      width: 100%;
      overflow: visible;
    }

    li > ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.7s;
      display: flex;
      width: 100%;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
    }

    li button {
      color: #f7f8fc;
    }

    li.active button {
      color: white;
    }

    li.active button svg {
      transform: rotate(180deg);
    }

    li.active > ul {
      max-height: 500px;
    }

    li > ul > li {
      box-shadow: none;
    }

    li > ul > li a {
      border-bottom: 1px solid map-get($basePalette, "grey-2");
      padding: 5px 20px 5px 30px;
    }

    li > ul > li span {
      border-bottom: 1px solid map-get($basePalette, "grey-2");
      padding: 5px 20px 5px 30px;
      line-height: initial;
    }

    li > ul > li svg {
      margin-right: 10px;
    }
  }
}















// layout / NavDesktop
.nav-desktop__basis {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  @media (max-width: $small) {
    display: none;
  }

  a:hover {
    color: white;
  }

  button:focus {
    outline: none;
  }

  li {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 1280px) {
    li {
      margin-right: 18px;
      button {
        width: auto !important;
      }
    }
  }

  .flyout {
    position: absolute;
    left: -20px;
    top: 60px;
    background: map-get($basePalette, "white");
    box-shadow: 4px 4px 4px 0 rgba(59, 65, 101, 0.6);

    a,
    button {
      font-size: map-get($fontSize, "small");
      white-space: nowrap;
      line-height: 45px;
      flex-grow: 1;
      text-align: left;
    }
  }

  .home-nav {
    position: relative;

    a:hover {
      color: black;
    }

    ul {
      background-color: #f7f8fc;
      width: calc(100% + 200px);
      display: flex;
    }

    li {
      margin: 0;
      flex-grow: 1;
      text-align: center;
    }
  }

  .secondary-nav {
    width: 240px;
    position: relative;

    button {
      border-bottom: 1px solid white;
      color: white;
      text-transform: none;
      padding-left: 20px;
    }

    li {
      height: 45px;
      display: flex;
      margin-right: 0;

      &:last-child {
        button {
          border-bottom: none;
        }
      }
    }

    li > ul {
      display: none;
    }

    li.active button {
      color: white;
    }

    li.active > ul {
      display: flex;
      position: absolute;
      left: 240px;
      width: 200px;
      top: 0;
      bottom: 0;
      padding-bottom: 20px;
      box-sizing: border-box;
      flex-direction: column;
      border-bottom-right-radius: 5px;
    }

    li > ul > li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding: 0 20px;
    }
  }
}















// pages / Home
.Home__basis {
  background-color: map-get($basePalette, "grey-1");

  section {
    padding: 30px 30px 80px;
    overflow: hidden;
  }

  .accent-border {
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    margin: 0 10px;
    background-color: map-get($accentPalette, "yellow");
  }

  .nowrap {
    white-space: nowrap;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $small) {
      flex-direction: column;
    }
  }

  #section-3 {
    min-height: 100vh;
    padding-top: 90px;
    background-color: #17151A;

    .intro {
      text-align: center;
      margin: 0 auto 2rem auto;
      max-width: 860px;

      h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      h3 {
        color: map-get($accentPalette, "yellow");
        font-weight: 300;
        font-size: 120%;
      }

      p {
        opacity: 0.5;
      }
    }
  }
}












// pages / Glossary
.glossary__container {
  max-width: 1080px;
  margin: 0 auto;
}













// NeuronMorphology plugin, romove after Nexus integration
.morpho-viewer,
.morpho-viewer canvas {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.orientation {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 2;
}

.scale {
  position: absolute;
  height: 100%;
  width: 50px;
  cursor: pointer;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(2px);
  z-index: 2;
}


:root {
  --soma: #000;
  --axon: #1111ff;
  --basal-dendrites: #ff1111;
  --apical-dendrites: #f442ad;
}

.morpho-wrapper {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 400px;
  position: relative;
}

.zoom-control {
  margin-bottom: 10px;
  margin-right: 10px;
}

.zoom-input {
  margin-left: 10px;
}

.morpho-wrapper > .actions {
  position: relative;
  z-index: 2;
}



.morpho-legend {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  backdrop-filter: blur(1px);
}

.morpho-legend > ul {
  list-style: none;
  padding: none;
}

.morpho-legend > ul li::before {
  content: '\2022';
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  line-height: 0;
  font-size: 1.5em;
}

.morpho-legend > ul li.axon::before {
  color: var(--axon);
}
.morpho-legend > ul li.basal-dendrites::before {
  color: var(--basal-dendrites);
}
.morpho-legend > ul li.apical-dendrites::before {
  color: var(--apical-dendrites);
}
.morpho-legend > ul li.soma::before {
  color: var(--soma);
}









.bg-grey-1 {
  background-color: #343846;
}
.bg-grey-2 {
  background-color: #545a70;
}
.bg-grey-3 {
  background-color: #8690b3;
}
.bg-grey-4 {
  background-color: #9fa9d0;
}
.bg-grey-5 {
  background-color: #c3cce7;
}
