@tailwind base;
@tailwind components;
@tailwind utilities;

.iq {
    &__container {
        max-width: 1080px;
        margin: 0 auto;
        border-radius: 3px;
        border: 1px solid rgba(black, 0.1);
        background-color: map-get($basePalette, "white");

        @apply px-10 py-12 md:px-20 md:py-12;

        h1 {
            @apply text-3xl text-black mb-4;
            color: map-get($basePalette, "navy-3");

        }

        h2 {
            @apply text-2xl text-black pt-8 pb-1 mb-2;
            display: block;
            border-bottom: 1px solid map-get($basePalette, "navy-3");

        }

        h3 {
            @apply text-xl text-black pt-3 pb-1 mb-2;
            display: block;
            border-bottom: 1px solid map-get($basePalette, "navy-3");

        }

        h4 {
            @apply text-lg text-black pt-2;
        }

        p,
        strong {
            @apply text-base text-black pb-2 leading-7;
        }

        ul {
            list-style-type: none;
            /* Remove default bullets */

        }

        li {
            @apply text-base text-black pb-2 leading-7;
            list-style-position: inside;
            padding-left: 2.5rem;
            position: relative;
        }

        li::before {
            content: "—";
            position: absolute;
            left: 0;

        }

        a {
            text-decoration: underline;
        }
    }
}