@tailwind base;
@tailwind components;
@tailwind utilities;

.iq {
    &__container {
        max-width: 1080px;
        margin: 0 auto;
        border-radius: 3px;
        border: 1px solid rgba(black, 0.1);
        background-color: map-get($basePalette, "white");

        @apply p-10 md:p-20;

        h1 {
            @apply text-3xl text-black mb-4;


        }

        h2 {
            @apply text-2xl text-black pt-10 pb-1 mb-2;
            display: block;
            border-bottom: 1px solid darkgrey;

        }

        h3 {
            @apply text-xl text-black pt-3 pb-1 mb-2;
            display: block;
            border-bottom: 1px solid darkgrey;

        }

        h4 {
            @apply text-lg text-black pt-2;
        }

        p,
        strong {
            @apply text-base text-black pb-2 leading-8;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }



        li {
            @apply text-base text-black pb-2 leading-8;
        }

        li::before {
            content: "—";
            @apply mr-3;
        }

        a {
            text-decoration: underline;
        }
    }
}