@import 'config/_queries';

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 90%;
  margin: 0 auto;

  @media (max-width: $ant-breakpoint-xl) {
    max-width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
}

.head {
  text-align: center;
  background-color: white;
  color: black;
}

.fullHeader {
  max-width: 90%;
  margin: 0 auto;

  @media (max-width: $ant-breakpoint-xl) {
    max-width: 100%;
  }
}

.body {
  margin: auto 0;
}

.centeredBodyContent {
  display: flex;
  align-items: center;
  justify-content: center;
}