
.container {
  max-width: 1080px;
  margin: 0 auto;

  h1, h2, h3, h4 {
    color: #f7f8fc !important;
    margin: revert;
  }

  a {
    color: #f7f8fc;
    text-decoration: underline;
  }
}

.list {
  li {
    counter-increment: step-counter;
  }
  li::marker {
    content: "(" counter(step-counter) ") ";
  }
}
