@import '../../styles/config/_queries';

.wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 4rem;

  @media (max-width: $breakpoint-md) {
    padding: 0 0rem;
  }
}

.solidBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: repeat;
  background-blend-mode: normal;
  z-index: 2;
}

.background--1 {
  mask-image: linear-gradient(to bottom, #00000000, #EFAE9715);
}

.background--2 {
  mask-image: linear-gradient(to bottom, #00000000, #EA908815);
}

.background--3 {
  mask-image: linear-gradient(to bottom, #00000000, #CC8A9915);
}

.background--4 {
  mask-image: linear-gradient(to bottom, #00000000, #9E98AE15);
}

.background--5 {
  mask-image: linear-gradient(to bottom, #00000000, #8398B515);
}

.container {
  position: relative;

  min-height: calc(100vh - 4rem);
  max-width: $max-page-width;
  margin: 0 auto;
  display: flex;

  z-index: 3;

  @media (max-width: $breakpoint-md) {
    padding: .5rem;
    min-height: auto !important;
  }
}


.scroll-to {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 4;
}