.main-navigation {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;

  margin: 0;

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    & span {
      color: rgba(white, .8);
    }

    & .arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 20px;
      height: 20px;

      opacity: .5;



      &--active {
        transform: rotate(180deg);
        opacity: 1;
      }
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;

      & span {
        color: rgba(white, 1);
      }

    }
  }

  &__button {
    // Resets
    background: none;
    border: none;
    outline: none;
    box-shadow: none;

    //Styling
    padding: .5rem 1.2rem;
    background-color: #313354;
    border: 1px solid rgba(white, .05);

    &:hover {
      background-color: #3B3D5D;
    }
  }
}

.submenu {
  position: absolute;
  bottom: 0px;
  left: 0;

  display: flex;
  flex-direction: column;

  background-color: #313354;
  min-width: 250px;
  border: 1px solid rgba(white, .05);
  border-radius: 3px;

  transform: translateY(100%);

  &__link {
    cursor: pointer;
    padding: .5rem 1rem;
    color: white;

    & .highlight {
      background-color: red;
    }

    &:hover {
      //text-decoration: underline;
      color: white;
      background-color: rgba(white, .1);
    }
  }
}