.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
  margin: 0;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #313354;
    justify-content: center;
    display: none;
    z-index: 999;

    &.main-navigation--open {
      display: flex;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @media (max-width: 1200px) {
      cursor: pointer;
      padding: 1rem 2rem;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    & a {
      color: rgba(white, .8);
      @apply lg:text-base xs:text-xl;

      &:hover {
        color: white;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    & .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      opacity: .5;

      @media (max-width: 1200px) {
        width: 50px;
        height: 50px;
      }

      &--active {
        transform: rotate(180deg);
        opacity: 1;
      }
    }

    &:hover & span {
      color: rgba(white, 1);
    }
  }

  &__button {
    @apply lg:text-base xs:text-lg;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 1px;
    padding: .4rem .6rem;
    background-color: #52617d;
    border: 1px solid rgba(#313354, .05);
    color: white;
    transition: all 100ms ease-in-out;

    &:hover {
      background-color: #3b4165;
    }

    @media (max-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 4rem);
      margin-top: 4rem;
      padding: 1rem 0;
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: #52617d;
  padding: .5rem;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: #3b4165;
  }

  @media (max-width: 1200px) {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;

    &.hamburger--open span {
      background: white;
      transition: all 0.3s ease-in-out;
    }

    span {
      display: block;
      width: 25px;
      height: 2px;
      margin: 5px;
      border-radius: 99px;
      background: rgba(white, 1);
      transition: all 0.3s ease-in-out;
    }

    &.hamburger--open span:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
      transform-origin: center;
    }

    &.hamburger--open span:nth-child(2) {
      opacity: 0;
    }

    &.hamburger--open span:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
      transform-origin: center;
    }
  }
}

.submenu {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #313354;
  min-width: 250px;
  border: 1px solid rgba(white, .05);
  border-radius: 3px;
  transform: translateY(100%);
  user-select: none;

  @media (max-width: 1200px) {
    position: static;
    background-color: none;
    border: none;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &__link {
      width: 100%;
      padding: 0.5rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__link {
    margin: .5rem 1rem;
    color: rgba(white, .5);
    display: inline-block;

    &--highlight {
      margin: 0;
      padding: .5rem 1rem;
      background-color: rgba(#464865, .8);
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      text-decoration: underline;
      color: white;
      cursor: pointer;
    }
  }

  &__group-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: .8;
    width: 100%;
    padding: .5rem 1rem;

    &:hover,
    &--active {
      cursor: pointer;
      opacity: 1;

      & .arrow {
        opacity: 1;
      }
    }
  }

  &__group-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #031437;
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: height 0.3s ease;

    @media (max-width: 1200px) {
      background-color: none;
    }

    &--active {
      height: auto; // Adjust as needed
    }
  }
}