@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_fonts';

$maxWidth: 600px;

.image-viewer__basis {
  max-width: $maxWidth;
  position: relative;

  img {
    width: 100%;
    cursor: pointer;
  }
}