@import '@/styles/config/_queries';
@import '@/styles/config/_colors';



.container {
  max-width: 200px;
}

.label {
  @apply text-sm mb-2;
  color: map-get($basePalette, "navy-2");
}

.select {
  max-width: 200px;
  background-color: rgba(map-get($basePalette, "navy-1"), 0.05);
  color: rgba(map-get($basePalette, "navy-1"), 1);

  @apply text-sm;
  font-weight: 200;
  text-transform: capitalize;
  padding: .2rem .4rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


  &:focus {
    outline: 2px solid #3498db;
    outline-offset: 2px;
  }

  &.theme-1 {
    &:focus {
      outline: 2px solid map-get($theme, "experimental-data");
      outline-offset: 2px;
    }
  }

  &.theme-2 {
    &:focus {
      outline: 2px solid map-get($theme, "reconstruction-data");
      outline-offset: 2px;
    }
  }

  &.theme-3 {
    &:focus {
      outline: 2px solid map-get($theme, "digital-reconstruction");
      outline-offset: 2px;
    }
  }

  &.theme-4 {
    &:focus {
      outline: 2px solid map-get($theme, "validations");
      outline-offset: 2px;
    }
  }

  &.theme-5 {
    &:focus {
      outline: 2px solid, map-get($theme, "predictions");
      outline-offset: 2px;
    }
  }
}

.select::-ms-expand {
  display: none;
}



/* Custom arrow */
.select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  pointer-events: none;
}


.sliderWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sliderLabel {
  font-size: 1rem;
  margin-bottom: 0.5rem;

}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color: rgba(map-get($basePalette, "navy-1"), 0.05);
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: initial;
    width: 5px;
    height: .8dvi;
    border-radius: 0;
    background-color: map-get($basePalette, "navy-1");
    /* Add a fallback color */
    cursor: pointer;
    opacity: .8;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}